.cabecalho {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #F65C2A 0%, #ED451D 71.09%, #B91B28 142.19%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
}

.navbar {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: #FAFAFA;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.logo {
    width: 208px;
}

.container-pesquisa {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 0 0;
}

.barra-pesquisa {
    display: flex;
    /* width: 180px; */
    border-radius: 8px;
    background: #A9371B;
}

.botao-pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
    width: 71px;
    height: 51px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.barra-pesquisa-pesquisar {
    width: 100%;
    padding: 0 10px 0 0;
    -webkit-text-fill-color: #FAFAFA;
    opacity: 0.6;
    font-family: "PT Sans";
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: 0;
}