@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
    display: flex;
    padding: 50px 20px 0px 20px;
    gap: 40px 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

.medio-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    min-width: 300px;
}

.noticia-primaria {
    display: flex;
    align-items: flex-end;
    height: 600px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 72.51%, rgba(0, 0, 0, 0.81) 96.75%),
    url('/assets/images/noticia-yun-li-album.png')
    lightgray 50% / cover no-repeat;
}

.noticia-primaria h1 {
    display: flex;
    padding: 50px;
    align-items: center;
    color: #F9F9F9;
    font-family: "PT Sans";
    font-size: 35px;
    text-transform: uppercase;
}

hr {
    align-self: stretch;
    margin: 80px 0;
}

.transform-scale {
    transition: 0.2s;
}

.transform-scale:hover {
    transform: scale(1.005);
}

/* As três notícias abaixo da noticia principal */
.sessao-noticias-terciarias {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
}

.sessao-noticias-terciarias article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1 0 0;
    min-width: 300px;
}

.titulos-noticias-nivel-terciario {
    color: #FF5D36;
    font-family: "PT Sans";
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.descricao-noticia-terciaria {
    color: #2F3134;
    font-family: "PT Sans";
}

/* As duas notícias abaixo */
.sessao-noticias-secundarias {
    display: grid;
    row-gap: 30px;
}

.noticia-secundaria {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    min-width: 300px;
}

.artigo-noticia-secundaria {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 0;
    min-width: 300px;
}

.titulo-noticia-secundaria {
    display: flex;
    color: #FF5D36;
    font-family: "PT Sans";
    font-size: 30px;
    text-transform: uppercase;
}

.descricao-noticia-secundaria {
    align-self: stretch;
    color: #2F3134;
    font-family: "PT Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* As três notícias abaixo das duas*/
.noticia-terciaria {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 0;
    min-width: 300px;
}

.noticia-terciaria img {
    width: 100%;
}

.artigo-noticia-terciaria {
    display: flex;
    gap: 5px;
}

/* Aside das últimas notícias */
.aside {
    display: flex;
    min-width: 300px;
    max-width: 450px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    flex: 1 0 0;
    padding-left: 45px; /*JOAO ADICIONOU ESSA LINHA*/
}

.titulo-aside {
    color: #2F3134;
    text-align: center;
    font-family: "PT Sans";
    font-size: 30px;
    text-transform: uppercase;
}

.sessao-noticias-aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.noticia-aside {
    display: flex;
    gap: 20px;
    min-width: 300px;
}

/*PAGINACAO*/
.paginacao {
    display: flex;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}

.icon-setas {
    width: 32px;
    height: 32px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.container-botoes-paginacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.link-paginacao {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #989898;

    color: #F9F9F9;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.link-paginacao:hover {
    background: #ED451D;
    transition: 0.2s;
}

.link-paginacao-selecionado {
    background: #FF5D36;
}