@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
    display: flex;
    padding: 50px 20px 0px 20px;
    gap: 40px 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

.imagem-noticia-primaria {
    display: flex;
    align-items: flex-end;
    height: 600px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 72.51%, rgba(0, 0, 0, 0.81) 96.75%),
    url('/assets/images/noticia-yun-li-album.png')
    lightgray 50% / cover no-repeat;
}

.imagem-noticia-primaria h1 {
    display: flex;
    padding: 50px;
    align-items: center;
    color: #F9F9F9;
    font-family: "PT Sans";
    font-size: 35px;
    text-transform: uppercase;
}

hr {
    align-self: stretch;
    margin: 40px 0;
}

/* As três notícias abaixo da noticia principal */
.sessao-noticias-terciarias {
    display: flex;
    flex-wrap: wrap;
}

.sessao-noticias-terciarias article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    min-width: 300px;
}

.noticia-terciaria img {
    width: 100%;
}

/* As duas notícias abaixo */
.noticia-secundaria {
    display: flex;
    height: 299px;
    min-width: 300px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px 30px;
    align-self: stretch;
    flex-wrap: wrap;
    transition: all 0.2s;
}

.noticia-secundaria:hover {
    transform: scale(1.005);
    transition-duration: 0.2s, 0.2s;
}

.artigo-noticia-secundaria {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    margin-left: 3vh; /*o JOAO add essa linha*/
}

.titulo-noticia-secundaria {
    display: flex;
    justify-content: left;/*OBS: o JOAO mudou de "justify-content: center" para "justify-content: left"*/
    align-items: center;
    align-self: stretch;
    color: #FF5D36;
    font-family: "PT Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.titulos-noticias-nivel-terciario {
    flex: 1 0 0;
    align-self: stretch;
    color: #FF5D36;
    font-family: "PT Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.descricao-noticia-terciaria {
    align-self: stretch;
    color: #2F3134;
    font-family: "PT Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.descricao-noticia-secundaria {
    align-self: stretch;
    color: #2F3134;
    font-family: "PT Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.artigo-noticia-terciaria {
    display: flex;
    padding: 0px 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.noticia-terciaria {
    display: flex;
    height: 353px;
    min-width: 300px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    flex: 1 0 0;
}

.sessao-noticias-terciarias {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.medio-container {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}


/* Div do Últimas Notícias */
.titulo-aside {
    color: #2F3134;
    text-align: center;
    font-family: "PT Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.aside {
    display: flex;
    min-width: 300px;
    max-width: 450px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    padding-left: 45px; /*JOAO ADICIONOU ESSA LINHA*/
}

.noticias-aside {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.noticia-aside {
    display: flex;
    min-width: 300px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    padding-bottom: 30px;
}

.titulos-noticias-nivel-terciario {
    flex: 1 0 0;
    align-self: stretch;
    color: #FF5D36;
    font-family: "PT Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    height: 169.467px;
    justify-content: top; /*OBS estava "justify-content: center;" e o JOAO colocou "justify-content: top;"*/
    align-items: top; /*OBS estava "align-items: center;" e o JOAO colocou "align-items: top;"*/
    flex: 1 0 0;
    text-decoration: none; /*o JOAO adicionou essa linha, ela nao existte no figma e ela tira o sublinhado do link*/
    padding-left: 3%; /*o JOAO adicionou essa linha, ela nao existte no figma e ela dá um espacinho entre o texto e a imagem*/
}

/*PAGINACAO*/
.paginacao {
    display: flex;
    padding: var(--tamanho-fonte-logo, 50px) 0px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}

.icon-setas {
    width: 32px;
    height: 32px;
    border-style: none;
    background-color: #F9F9F9;
}

.link-paginacao {
    color: #F9F9F9;
    font-family: "PT Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.botao-paginacao {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #989898;
    border-style: none; /*OBS JOAO ADICIONOU ESSA LINHA DE CODIGO*/
}

.botao-paginacao-selecionado {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FF5D36;
    border-style: none; /*OBS JOAO ADICIONOU ESSA LINHA DE CODIGO*/
}